<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../components/pd-drawer/pd-drawer.html">

<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html"/>
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html" />
<link rel="import" href="../../../app/components/pd-list/pd-list-item.html" />

<link rel="import" href="../../../app/components/pd-flatiron-director/pd-flatiron-director.html" />
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html" />

<dom-module id="pd-dashboard">
    <link rel="stylesheet" href="../../../app/css/main.css" />
    <link rel="stylesheet" href="../../../app/css/position.css" />
    <link rel="stylesheet" href="../../../app/css/font.css" />
    <link rel="stylesheet" href="../../../app/css/skins/default/colors.css"/>
    <link rel="import"  href="../../../app/css/skins/default/color-vars.css"/>
    <template>
        <pd-drawer>
            <div class="logo">Logo here</div>
            <div class="left-menu p-t-1">
                <pd-list-item position="left" icon="home" url="#!">Home</pd-list-item>
                <pd-list-item position="left" icon="account-box" url="#!/profile">Profile</pd-list-item>
                <pd-list-item position="left" icon="view-module" url="#!/staff">Staff</pd-list-item>
                <pd-list-item position="left" icon="exit-to-app" url="/auth/logout">Logout</pd-list-item>
            </div>
            <div class="right-menu">
                <template is="dom-repeat" items="{{friends}}">
                    <pd-list-item position="left" icon="face" url="{{item.url}}">{{item.name}}</pd-list-item>
                </template>
            </div>
            <div id="main">
                Main stuff here
            </div>
        </pd-drawer>
        <pd-flatiron-director route="{{route}}"></pd-flatiron-director>
        <iron-ajax id="ajax" url="" handle-as="document"></iron-ajax>
        <iron-ajax id="getProfileRequest" url="http://localhost:5000/profile" method="GET" handle-as="json"
                   on-response="getProfileCallback" with-credentials="true" auto></iron-ajax>
        <iron-ajax id="getFriendsRequest" url="http://localhost:5000/friends" method="GET" handle-as="json"
                   on-response="getFriendsCallback" with-credentials="true"></iron-ajax>
    </template>
</dom-module>

<script>
    Polymer({
        is: "pd-dashboard",
        properties:{
            route:{
                type:String,
                notify:true,
                observer: 'routeChanged'
            },
            friends:{
                type:Array,
                notify:true
            }
        },
        getProfileCallback:function(response){
            this.getFriends(response.detail.response.username);
        },
        getFriends: function(username){
            this.$.getFriendsRequest.params["username"] = username;
            this.$.getFriendsRequest.generateRequest();
        },
        getFriendsCallback:function(response){
            var self = this;
            self.friends = response.detail.response[0].friends;
            for(var i in self.friends){
                self.friends[i].url = "#!/thread?username=" + self.friends[i].username;
            }
        },
        routeChanged: function (newValue, oldValue) {
            var page = newValue.replace("!","");
            var params = page.split("?")[1];
            var pageName = page.split("?")[0];
            if(pageName == "") pageName = "home";
            this.$.ajax.url = "app/pages/" + pageName + "/" + pageName + ".html?" + params;
            this.$.ajax.generateRequest();
        },
        ready:function(){
            var self = this;
            self.$.ajax.addEventListener('response', function (response) {
                try {
                    self.async(function () {

                        var links = response.detail.response.head.querySelectorAll("link");
                        for (var i = 0; i <= links.length - 1; i++) {
                            if (!window.document.head.innerHTML.indexOf(links[i].href.toLowerCase()) 
                                                                                              != -1) {
                                var l = document.createElement('link');
                                l.rel = 'import';
                                l.href = links[i].href.toLowerCase();
                                document.head.appendChild(l);
                            }
                        }

                        var l = document.createElement('div');
                        l.innerHTML = response.detail.response.body.innerHTML;
                        self.$.main.innerHTML = "";
                        self.$.main.appendChild(l);
                    }, 0);
                } catch (e) {
                }
            });
        }
    });
</script>